body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ececec;
    margin: 0;
    padding: 0;
}

.calculator {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
}

.display {
    text-align: right;
}

input[type="text"] {
    width: 90%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #29b1aa;
    color: rgb(2, 1, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.clear {
    background-color: #db493f;
}

.equals {
    background-color: #ff9800;
}

.history {
    margin-top: 10px;
}

#history-list {
    list-style-type: none;
    padding: 0;
}

#history-list li {
    margin-bottom: 5px;
}
